awscli
bokeh
boto
bottle
click
coverage
cython
fabric
flake8
ipython
ipdb
matplotlib
mccabe
mechanize
mock
mrjob
nltk
numpy
scipy
pandas
pelican
pytest
pygments
requests
scikit-learn
seaborn
thrift
virtualenv
